
/* main table */
#main_table {
  background: #666;
}

/* top-left corner */
#td_topleftcorner {
  width:    17px;
  height:   17px;
  background-image:   url("../backgr/corner0.gif");
  background-repeat:  no-repeat;
}

/* top-right corner */
#td_toprightcorner {
  width:    17px;
  height:   17px;
  background-image:   url("../backgr/corner1.gif");
  background-repeat:  no-repeat;
}

/* bottom-left corner */
#td_bottomleftcorner {
  width:    17px;
  height:   17px;
  background-image:   url("../backgr/corner2.gif");
  background-repeat:  no-repeat;
}

/* bottom-right corner */
#td_bottomrightcorner {
  width:    17px;
  height:   17px;
  background-image:   url("../backgr/corner3.gif");
  background-repeat:  no-repeat;
}

/* logo */
#td_logo {
  width:    227px;
  height:   82px;
  background-image:   url("../backgr/logo.gif");
  background-repeat:  no-repeat;
  background-position: right;
  text-align: center;
}

/* menu */
#td_menu {
  width:    173px;
  height:   220px;
  background-image:   url("../backgr/menu.gif");
  background-repeat:  no-repeat;
}

/* title */
#td_title {
  height:   82px;
  background-image:   url("../backgr/title.gif");
  background-repeat:  repeat-x;
}

/* copyright */
#td_copyright {
  w1idth:    293px;
  height:   90px;
  background-image:   url("../backgr/copyright.gif");
  background-repeat:  no-repeat;
  background-position: right;
  text-align: center;
}

