
#div_menu {
  margin-right: 30px;
  margin-top: 60px;
  text-align: right;
}

#div_menuitem {
  margin-right: 0px;
  margin-top: 10px;
  text-align: right;
}

#div_title {
  margin-left: 28px;
  margin-top: 25px;
  font-size: 18px;
  text-align: left;
}

#div_content {
  margin-left: 35px;
  margin-right: 60px;
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 12px;
  text-align: left;
}

