
body {
  margin: 20px;
  background: #999;
  cursor: default;
  color: #fff;
}

p {
  text-align: left;
}

a:link {
  color: #fff;
  text-decoration: none;
  font-family: Arial;
  font-size: 12px;
  font-weight: bold;
}

a:visited {
  color: #fff;
  text-decoration: none;
  font-family: Arial;
  font-weight: bold;
}

a:hover {
  color: #f00;
  text-decoration: underline;
  font-family: Arial;
  font-weight: bold;
}

div {
  font-family: Arial;
}

ul {
  margin-top: 0px;
  margin-bottom: 40px;
}

li {
  margin-left: 40px;
  list-style-type: square;
}

