
#p_caption {
  margin-left: 20px;
  margin-bottom: 5px;
  color: #ff9;
  font-size: 16px;
  text-align: center;
}

#p_content {
  margin-left: 40px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 12px;
}

